<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="D. Barragan" />
    <meta name="description" content="Cd crisol home page" />
    <title>Web CD-CRISOL</title>
    <link rel="stylesheet" type="text/css" href="../mis/layout.css" />
    <link rel="stylesheet" type="text/css" href="../mis/color.css" />
  </head>
  
  <body>

    <!-- Titulo -->
    <div id='web-logo'>
      <a href="http://crisol.uc3m.es"><img src="../mis/images/logo-crisol.png" width="50" vspace="10" hspace="20"  align="right" border="0"></a>
      <img src="../mis/images/logo.png" width="200" vspace="10"  align="bottm" border="0">
    </div>

    <!-- Menu Principal -->
    <div id="main-menu">
      <p>
        <ul id="left">
          <li><a href="../index.html">Introducción</a></li>
        </ul>
      </p>
      <p>
        <h3>Listado de Categorías</h3>
        <ul id="left">
	  #for $cat in $categories:
            <li><a href="../categories/$cat.html_file"><img src="../icons/$cat.icon" align="left" width="20" height="20" alt="" border="0" /> $cat.name</a></li>
          #end for
        </ul>
      </p>
    </div>

    <!-- Cuerpo de la página -->
    
    <div id="content">
      <br> 
      <img src="../icons/$application.icon" align="right" width="80" height="80" alt="Imagen no disponible" />
      <h2 id="top">$application.name</font></h2>
      <p>
        <ul>
	  <li><h4>VERSION:</h4>$application.version</li>
	  
	  <li><h4>TAMAÑO:</h4>$application.size KB</li>
	  
	  <li><h4>WEB:</h4><a href="$application.site">$application.site</a></li>
	  
          #if len($application.plataforms) > 0
	    <li><h4>PLATAFORMAS:</h4>
              #for $plat in $application.plataforms
                $plat<br>
              #end for
            </li>
	  #end if
	    
	  <li><h4>DESCRIPCION:</h4>$application.description</li>
	  
          #if len($application.categories) > 0
	    <li><h4>CATEGORIAS:</h4>
              #for $a_cat in $application.categories
	        #for $m_cat in $categories
                  #if $m_cat.label == $a_cat
	            <p><a href="../categories/$m_cat.html_file"><img src="../icons/$m_cat.icon" align="left" width="20" height="20" alt="" border="0" /> $m_cat.name</a></p>
		  #end if
                #end for
              #end for
            </li>
	  #end if

	  #if len($application.alternatives) > 0
	    <li><h4>ALTERNATIVAS:</h4>
              #for $alt in $application.alternatives
                $alt<br>
              #end for
            </li>
	  #end if
	    
          #if  len($application.manuals.app_man_online) > 0
	    <li><h4>MANUALES ON-LINE:</h4>
              <UL>
                #for $man in $application.manuals.app_man_online
                  <li><a href="$man.app_man_on_url">$man.app_man_on_name:</a> [$man.app_man_on_lang] $man.app_man_on_description</li>
                #end for
              </UL>
            </li>
	  #end if

	  #if  len($application.manuals.app_man_offline) > 0
	    <li><h4>MANUALES OFF-LINE:</h4>
              <UL>
                #for $man in $application.manuals.app_man_offline
                  <li><a href="../../manuals/$man.app_man_off_file">$man.app_man_off_name ($man.app_man_off_size KB):</a> [$man.app_man_off_lang] $man.app_man_off_description</li>
                #end for
              </UL>
	    </li>
	  #end if

        </ul>
      </p>
      <p> Puedes <b>INSTALAR</b> este software pinchando <a href="../../software/$application.file">aquí</a>.					
    </div>

    <div id="footer">
      <h5>
        &copy; 2006 - Website designed by 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "bameda"; 
	  var part2 = "di.uc3m.es?subject=[WinSOL] "; 
	  var part3 = "David Barragán Merino";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
      
      <h5>
        &copy; 2006 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a>
      </h5>
      
      <h5>
        Contact: 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "cd-crisol-main"; 
	  var part2 = "forja.rediris.es"; 
	  var part3 = "WinSOL mail list";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
    </div>
    <div align="right">
      <br>
        <a href="http://www.python.org"><img src="../mis/images/use-python.gif" border="0"></a>
	<a href="http://www.webpy.org"><img src="../mis/images/use-web.py.gif" border="0">
</a>
    </div>
  </body>
</html>


