<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="D. Barragan" />
    <meta name="description" content="Cd crisol home page" />
    <title>Web CD-CRISOL</title>
    <link rel="stylesheet" type="text/css" href="./mis/layout.css" />
    <link rel="stylesheet" type="text/css" href="./mis/color.css" />
  </head>
  
  <body>

    <!-- Titulo -->
    <div id='web-logo'>
      <a href="http://crisol.uc3m.es"><img src="./mis/images/logo-crisol.png" width="50" vspace="10" hspace="20"  align="right" border="0"></a>
      <img src="./mis/images/logo.png" width="200" vspace="10"  align="bottm" border="0">
    </div>

    <!-- Menu Principal -->
    <div id="main-menu">
      <p>
        <ul id="left">
          <li><a href="./index.html">Introducción</a></li>
	</ul>
      </p>
      <p>
        <h3>Listado de Categorías</h3>
        <ul id="left">
	  #for $cat in $categories:
            <li><a href="./categories/$cat.html_file"><img src="/icons/$cat.icon" align="left" width="20" height="20" alt="" border="0" /> $cat.name</a></li>
          #end for
        </ul>
      </p>

    </div>

    <!-- Cuerpo de la página -->
    
    <div id="content">
      <br>
      <h2 id="top">¿Qué es WinSOL?</h2>
      <p>
      <a href="http://forja.rediris.es/projects/cd-crisol">WinSOL</a> (antes CD-CRISOL) 
        es una 	herramienta que nos va a permitir generar CDs de software libre para 
	Windows de manera rapida y fácil.
      </p>					
      <p>
        WinSOL ha sido desarrollado por <a href="http://crisol.uc3m.es">
	CRISOL UC3M</a> (Centro de Recursos de Información y Software Libre de la 
	<a href="http://www.uc3m.es">Universidad Carlos III de Madrid</a>). El grupo 
	CRISOL, integrado en el Servicio de Informática de la Universidad Carlos III de 
	Madrid, tiene como objetivos el soporte y la promoción del Software Libre en el 
	ámbito universitario y su entorno, aportando acceso a tecnologías de la 
	información de forma fácil y asequible.
      </p>

      <h2 id="top">¿Para qué sirve WinSOL?</h2>
      <p>
        Es una interfaz web que le ayudará a crear imagenes de CD de Software Libre para 
        Windos de una manera rápida y facil desde cualquier lugar, unicamente utilizando 
        un PC y una conexión a Internet.
      </p>
      <p>
        Una vez realize su Imagen ISO se le notificará vía e-mail donde podrá descargarla
        para, posteriormente, quemarla en un CD y disfrutar de ella, instalandos el   
        software en su PC personal, en el del trabajo o a sus amigos. 
      </p>
    </div>


    <div id="footer">
      <h5>
        &copy; 2006 - Website designed by 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "bameda"; 
	  var part2 = "di.uc3m.es?subject=[WinSOL] "; 
	  var part3 = "David Barragán Merino";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
      
      <h5>
        &copy; 2006 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a>
      </h5>
      
      <h5>
        Contact: 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "cd-crisol-main"; 
	  var part2 = "forja.rediris.es"; 
	  var part3 = "WinSOL mail list";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
    </div>
    <div align="right">
      <br>
        <a href="http://www.python.org"><img src="./mis/images/use-python.gif" border="0"
></a>
        <a href="http://www.webpy.org"><img src="./mis/images/use-web.py.gif" border="0">
</a>
    </div>
  </body>
</html>


