<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="title" content="CD-CRISOL" />
		<meta name="author" content="David Barragan Merino" />
		
		<link rel="stylesheet" type="text/css" href="./mis/style.css" media="screen,projection" />
		<!--<link rel="shortcut icon" href="http://developdaly.com/images/favicon.ico" /> -->

		<title>CD-Crisol</title>
	</head>

	<body>
		<div id="page">
	
			<div id="header">
				<h1>CD-Crisol</h1>
				<h2><a href="http://crisol.uc3m.es">CRISOL UC3M</a></h2>
			</div>
			
			<div id="content">
			
				<div id="menu">
					<div id="nav_top"></div>
				
					<h3>Categories</h3>
					<ul>
						#for $cat in $categories:
							<li> <a href="./categories/$cat.html_file">$cat.name</a> </li>
						#end for 
	        		        </ul>	
	                			
					<div id="nav_btm"></div>
				
				</div>
					
				<div id="info">
				
					<div class="post_top"></div>
				
					<div class="post">
						<h4>¿Que es CD-CRISOL?</h4>

						<br><p><a href="http://forja.rediris.es/projects/cd-crisol">CD Crisol</a> es una 
						herramienta que nos va a permitir generar CDs de software libre para Windows de 
						manera rapida y fácil.</p>
						
						<br><p>CD-Crisol ha sido desarrollado por <a href="http://crisol.uc3m.es">
						CRISOL UC3M</a> (Centro de Recursos de Información y Software Libres de la 
						<a href="http://www.uc3m.es">Universidad Carlos III de Madrid</a>). El grupo 
						CRISOL, integrado en el Servicio de Informática de la Universidad Carlos III de 
						Madrid, tiene como objetivos el soporte y la promoci&#243;n del Software Libre en el 
						ámbito universitario y su entorno, aportando acceso a tecnolog&#237;as de la 
						información de forma fácil y asequible.</p> 
					</div>
					
					<div class="post_btm"></div>
					
				</div>
	
			</div>
			
			<div id="footer">
				2006 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a><br>
				Contact: <a href="mailto:&#098;&#097;&#109;&#101;&#100;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">CD-Crisol Devel Team.
			</div>
           
		</div>
                
	</body>

</html>