<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="author" content="cjimenez" />
    <meta name="generator" content="VIM" />
    <style type="text/css">
      /***************************************************************
       * TITLE: Violet (Default Template for the CD-Crisol v. 0.2)   * 
       * AUTHOR: Claudio Jimenez Castillo                            *
       * DATE: August 3rd, 2006                                      *
       * LICENSE: GPL                                                *
       *                                                             *
       * BASED ON: Common Stylesheet for Blue Haze BY haran          *
       * URI: http://www.oswd.org/design/xxx/bluehaze/bluehaze.css   *
       * MODIF: 2003-01-05 1608 +0800                                *
       ***************************************************************/
      /* @@@@@ BACKGROUND COLORS @@@@@ */
      body {background-color: #f0f0f0;}
      #wrap, #header, #footer, #bodyText a, .sideBox a, .headerTitle {background-color: #dadaff;}
      .sideBox div {background-color: #b9b9ff;}
      /* @@@@@ FONT COLORS @@@@@ */
      #header, #footer, h1, .headerTitle, .sideBox div {color: #222299;}
      body, #wrap {color: #000;}
      /* @@@@@ BORDER COLOR @@@@@ */
      #header, .sideBox, .sideBox div, #footer, h1 {border-color: #229;}
      /* @@@@@ LINKS COLOR AND BACKGROUND @@@@@ */
      .sideBox a {color: #000;}
      .sideBox a:hover {color:#000; background-color: #b9b9ff;}
      #bodyText a {color: #229; border-bottom-color: #229;}
      
      /* @@@@@ GENERAL DESIGN @@@@@ */
      body {font-family: verdana, tahoma, helvetica, arial, sans-serif; font-size: 10pt;}
      #wrap {margin: 0 auto; width: 760px;}
      h1 {font-family: "trebuchet ms", tahoma, sans-serif; font-weight: bold; font-size: 15pt; border-bottom-style: solid; border-bottom-width: 1px; padding-bottom: 5px;}
      img {border: none;}
      /* @@@@@@ Body TEXT @@@@@@ */
      #bodyText {text-align: justify; margin: 0 0 15px 175px; padding: 0 15px 0 0;}
      #bodyText p {padding-bottom: 2px;}
      #bodyText a {text-decoration: none; border-bottom-style: solid; border-bottom-width: 1px;}
      #bodyText a:hover {border-bottom: none;}
      
      /* @@@@@@ HEADER @@@@@@ */
      #header {border-bottom-style: solid; border-bottom-width: 2px; padding: 15px; margin-bottom: 25px;}
      .headerTitle {font-size: 25pt; font-weight: bold;}

      /* @@@@@@ SIDE BOX @@@@@@ */
      .sideBox {float: left; clear: left; border-style: solid none solid none; border-width: 2px 0 2px 0; width: 11em; margin-bottom: 25px;}
      .sideBox div {font-weight: bold; border-bottom-style: solid; border-bottom-width: 1px; padding: 0.5ex 0.5em 0.5ex 0.75em;}
      .sideBox a, .sideBox a:hover, .sideBox span {text-decoration: none; line-height: 1.25em; display: block; padding: 1.25ex 0.5em 1.25ex 0.75em;}
      
      /* @@@@@@ FOOTER @@@@@@ */
      #footer {border-style: solid none solid none; border-width: 2px 0 2px 0; padding-top: 0.75ex; padding-bottom: 0.75ex; clear: left;}
      #footer div {font-size: 9pt; line-height: 1.25em; text-align: right; padding: 0 5px 0 5px;}
      #footer a:hover {text-decoration: none;}
      .footerLeft {float: left;clear: left;}
    </style>

    <title>CD Crisol</title>
  </head>

  <body>
    <div id="wrap">

      <!-- @@@@@@ HEADER @@@@@@ -->
      <div id="header">
        <span class="headerTitle">CD Crisol</span>
      </div>
  
      <!-- @@@@@@ SIDE BOXES @@@@@@ -->
      <div class="sideBox">
        <a href="./index.html">Inicio</a>
      </div>
      <div class="sideBox">
        <div>Categorias</div>
          #for $category in $categories:
            <a href="./categories/$category.html_file">$category.name ($category.label)</a>
          #end for
      </div>
  
  
      <!-- @@@@@@ BODY TEXT @@@@@@ -->
      <div id="bodyText">
        <h1>¿Que es CD-CRISOL?</h1>
        <br><p><a href="http://forja.rediris.es/projects/cd-crisol">CD Crisol</a> es una
        herramienta que nos va a permitir generar CDs de software libre para Windows de
        manera rapida y f&#225;acil.</p>
        <p>CD-Crisol ha sido desarrollado por <a href="http://crisol.uc3m.es">
        CRISOL UC3M</a> (Centro de Recursos de Informaci&#243;n y Software Libres de la
        <a href="http://www.uc3m.es">Universidad Carlos III de Madrid</a>). El grupo
        CRISOL, integrado en el Servicio de Inform&#225;tica de la Universidad Carlos III de
        Madrid, tiene como objetivos el soporte y la promoci&#243;n del Software Libre en el
        &#225;mbito universitario y su entorno, aportando acceso a tecnolog&#237;as de la
        informaci&#243;n de forma f&#225;cil y asequible.</p>
      </div>
      
      <!-- @@@@@@ FOOTER @@@@@@ -->
      <div id="footer">
        <div class="footerLeft">
          Contacto: <a href="mailto:&#098;&#097;&#109;&#101;&#100;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">CD-Crisol Devel Team</a>
        </div>
        <div class="footerLeft">
          &copy; 2006 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a>
        </div>
        <div>
          Template diseñado por <a href="mailto:&#099;&#106;&#105;&#109;&#101;&#110;&#101;&#122;&#064;&#103;&#117;&#108;&#046;&#117;&#099;&#051;&#109;&#046;&#101;&#115;">cjimenez</a>
        </div>
        <div>
          Valida <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS 2</a>  y <a href="http://validator.w3.org/check/referer">XHTML 1.0 Strict</a>
        </div>
      </div>

    </div>
  </body>
</html>
