<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="D. Barragan" />
    <meta name="description" content="Cd crisol home page" />
    <title>Web CD-CRISOL</title>
    <link rel="stylesheet" type="text/css" href="/layout.css" />
    <link rel="stylesheet" type="text/css" href="/color.css" />
  </head>
  
  <body>
	  
    <!-- Titulo -->
    <div id='web-logo'>
      <a href="http://crisol.uc3m.es"><img src="/static/images/logo_crisol_mini.png" vspace="10" hspace="20"  align="right" border="0"></a>
      <img src="/static/images/logo.png" width="200" vspace="10"  align="bottm" border="0">
    </div>
 
    <!-- Menu Principal -->
    <div id="main-menu">
      <!--<p>
        <div class="mega">
          <p><b> News title</b></p>
          <p>News boddy</p>
          <a href="" class="link">by myname - dd/mm/yy</a>
        </div>
      </p>-->
    </div>

    <!-- Cuerpo de la página -->
    <div id="content">
      <br> 
      <h2 id="top">¿Olvidó su contraseña?</h2>
      <br>
      #if len($messages) > 0:
          <table width="600" align="center">
            <tbody>
              #for $mes in $messages:
                <tr bgcolor="#E0FFE0"><td>$mes</td></tr>
              #end for
              <tr bgcolor="#E0FFE0"><td>Vuelva a la pagina de <b><a href="/login.html">LOGIN DE USUARIO</a></b></td></tr>
            <tbody >
          </table>
      #end if
      #if len($errors) > 0:
        <table width="600" align="center">
          <tbody>
            #for $err in $errors:
              <tr bgcolor="#FFC9C9"><td>$err</td></tr>
            #end for
          <tbody >
        </table>
      #end if
      <br>
      <div align="justify">Rellena todo el formulario correctamente. Recuerda que los valores en <b>Negrita</b> son obligatorios.
      <br>
      Se te enviará un e-mail a la dirección que nos facilitaste, en tu proceso de registro,  con tu clave personal.
      </div>
      <br>

      <div align="center">
        <form method="POST" enctype="multipart/form-data">
          <table>
            <tbody align="left" valign="top">
              <tr>
		<td><b>Usuario</b></td>
                <td><input type="text" name="nick" size="60" align="right" value="$user.nick"></td>
              </tr>
            </tbody>
          </table><br>
          <INPUT type="submit" value="Aceptar" align="middle"> <INPUT type="reset" value="Borrar" align="middle">
        </form>
	<p></p>	
	<a href="/add_user.html">Crear nueva cuenta de usuario</a><br>
	<a href="/login.html">Login de Usuario</a><br>
	<p></p>
      </div>
      <p> 
    </div>

    <div id="footer">
      <h5><a href="http://creativecommons.org/licenses/GPL/2.0/"><img src="/static/images/logo_cc.png" border="0" alt="logo CC" align="top" hspace="2"></a>
        2007 - Website designed by 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "bameda"; 
	  var part2 = "di.uc3m.es?subject=[WinSOL] "; 
	  var part3 = "David Barragán Merino";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
      
      <h5><a href="http://creativecommons.org/licenses/GPL/2.0/"><img src="/static/images/logo_cc.png" border="0" alt="logo CC" align="top" hspace="2"></a>
        2007 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a>
      </h5>
      
      <h5>
        Contact: 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "cd-crisol-main"; 
	  var part2 = "forja.rediris.es"; 
	  var part3 = "WinSOL mail list";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
    </div>
    <div align="right">
      <br>
        <a href="http://www.python.org"><img src="/static/images/use-python.gif" border="0"
></a>
        <a href="http://www.webpy.org"><img src="/static/images/use-web.py.gif" border="0">
</a>
    </div>
  </body>
</html>


