<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="D. Barragan" />
    <meta name="description" content="Cd crisol home page" />
    <title>Web CD-CRISOL</title>
    <link rel="stylesheet" type="text/css" href="/layout.css" />
    <link rel="stylesheet" type="text/css" href="/color.css" />
  </head>
  
  <body>

    <!-- Titulo -->
    <div id='web-logo'>
      <a href="http://crisol.uc3m.es"><img src="/static/images/logo_crisol_mini.png" vspace="10" hspace="20"  align="right" border="0"></a>
      <img src="/static/images/logo.png" width="200" vspace="10"  align="bottm" border="0">
    </div>

    <!-- Menu Principal -->
    <div id="main-menu">
      <p>
	<div class="mega">
	  <p><b>Tamaño Composición</b></p>
	  <p>$size MB</p>
        </div>
      </p>
      <p>
        <ul id="left">
          <li><a href="/index.html">Introducción</a></li>
	  <li><a href="/account.html">Datos de Usuario</a></li>
	  <li><a href="/help.html">Ayuda</a></li> 
	  <li><a href="/logout.html">Salir</a></li>
	</ul>
      </p>
      <p>
        <h3>Acciones</h3>
        <ul id="left">
	  <li><a href="/list_all.html">Listado de Aplicaciones</a></li>	
	  <li><a href="/add_cat.html">Añadir Categoría</a></li>
          <li><a href="/add_app.html">Añadir Aplicación</a></li>
	  <li><a href="/make_composition.html">Crear Composición</a></li>
          <li><a href="/precompile_composition.html">Composiciones Precompiladas</a></li>
  	</ul>
      </p>
      <p>
        <h3>Listado de Categorías</h3>
        <ul id="left">
	  #for $menu_cat in $menu_categories:
	    <li>
	      <a href="/category/$menu_cat.label"><img src="$menu_cat.icon_url" align="left" width="20" height="20" alt="" border="0" /> $menu_cat.name</a>
	    </li>
          #end for
        </ul>
      </p>

    </div>

    <!-- Cuerpo de la página -->
    
    <div id="content">
      <p>
        #if len($messages) > 0:
          <table width="600" align="center">
            <tbody>
              #for $mes in $messages:
                <tr bgcolor="#E0FFE0"><td>$mes</td></tr>
              #end for
            <tbody >
          </table>
      #end if
      #if len($errors) > 0:
        <table width="600" align="center">
          <tbody>
            #for $err in $errors:
              <tr bgcolor="#FFC9C9"><td>$err</td></tr>
            #end for
          <tbody >
        </table>
        <br>
      #end if
      </p>
      <h2 id="top">¿Qué es WinSOL?</h2>
      <p><a href="http://forja.rediris.es/projects/cd-crisol">WinSOL</a> (antes CD-CRISOL) es una herramienta que nos permite generar CDs y DVDs de software libre para Windows de manera rápida y fácil, únicamente utilizando un PC y una conexión a Internet.</p>
      <p>A través de las opciones que proporciona, podremos seleccionar las aplicaciones que queremos incluir en nuestra Composición o, incluso, añadir nuestras propias aplicaciones. Una vez seleccionadas las aplicaciones, seleccionaremos la presentación que queremos para nuestra Composición. Además para evitar que tengas que generar la composición, te proporcionamos un conjunto de composiciones listas para descargar.</p>
      <p>Finalmente, generaremos un fichero con el formato que prefieras: compatible con las aplicaciones de grabación (iso) o preparado para descomprimirlo en tu disco o Memoria USB (zip).</p>
      <p>Descargar nuestra Composición personalizada será tan fácil como pinchar en un enlace que recibiremos en nuestro correo electrónico.</p>
      <p>Una vez grabado, el CD (o DVD) será autoarrancable en cualquier equipo Windows y contendra información sobre las aplicaciones, ficheros de instalación, manuales, etc., que te permitirán instalar las aplicaciones en tu equipo, en el de tus amigos o, simplemente, llevarlas contigo preparadas para cuando las necesites.</p>
      <p>
        WinSOL ha sido desarrollado por <a href="http://crisol.uc3m.es">CRISOL UC3M</a> (Centro de Recursos de Información y Software Libres de la <a href="http://www.uc3m.es">Universidad Carlos III de Madrid</a>). El grupo CRISOL, integrado en el Servicio de Informática de la Universidad Carlos III de Madrid, tiene como objetivos el soporte y la promoción del Software Libre en el ámbito universitario y su entorno, aportando acceso a tecnologías de la información de forma fácil y asequible.
      </p>
      <br>
      <div align="right"> 
          <a href="http://www.uc3m.es"> <img src="/static/images/logo_uc3m.png" align="right" alt="logo uc3m" hspace="10" border="0"></a>
          <strong>Universidad Carlos III de Madrid<br>Servicio de Informática<br />Vicerrectorado de Infraestructuras Académicas</strong>
      </div><br>
      <div align="right">
           <a href="http://crisol.uc3m.es"><img src="/static/images/logo_crisol.png"align="right" alt="logo crisol" hspace="10" border="0"></a><br>
  	  <strong>Centro de Recursos de Información y Software Libres</strong>
      </div>
    </div>
    <div id="footer">
      <h5><a href="http://creativecommons.org/licenses/GPL/2.0/"><img src="/static/images/logo_cc.png" border="0" alt="logo CC" align="top" hspace="2"></a>
        2007 - Website designed by 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "bameda"; 
	  var part2 = "di.uc3m.es?subject=[WinSOL] "; 
	  var part3 = "David Barragán Merino";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
      
      <h5><a href="http://creativecommons.org/licenses/GPL/2.0/"><img src="/static/images/logo_cc.png" border="0" alt="logo CC" align="top" hspace="2"></a>
        2007 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a>
      </h5>
      
      <h5>
        Contact: 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "cd-crisol-main"; 
	  var part2 = "forja.rediris.es"; 
	  var part3 = "WinSOL mail list";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
    </div>
    <div>
      <br> 
	<a href="http://www.python.org"><img src="/static/images/use-python.gif" border="0" align="right"></a>
	<a href="http://www.webpy.org"><img src="/static/images/use-web.py.gif" border="0" align="right"></a>
    </div>
   
  </body>
</html>


