<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="D. Barragan" />
    <meta name="description" content="Cd crisol home page" />
    <title>Web CD-CRISOL</title>
    <link rel="stylesheet" type="text/css" href="/layout.css" />
    <link rel="stylesheet" type="text/css" href="/color.css" />
  </head>
  
  <body>

    <!-- Titulo -->
    <div id='web-logo'>
      <a href="http://crisol.uc3m.es"><img src="/static/images/logo_crisol_mini.png" vspace="10" hspace="20"  align="right" border="0"></a>
      <img src="/static/images/logo.png" width="200" vspace="10"  align="bottm" border="0">
    </div>

    <!-- Menu Principal -->
    <div id="main-menu">
      <p>
        <div class="mega">
          <p><b>Tamaño Composición</b></p>
          <p>$size MB</p>
        </div>
      </p>
      <p>
        <ul id="left">
          <li><a href="/index.html">Introducción</a></li>
          <li><a href="/account.html">Datos de Usuario</a></li>
          <li><a href="/help.html">Ayuda</a></li>
	  <li><a href="/logout.html">Salir</a></li>
        </ul>
      </p>
      <p>
        <h3>Acciones</h3>
        <ul id="left">
          <li><a href="/list_all.html">Listado de Aplicaciones</a></li>
          <li><a href="/add_cat.html">Añadir Categoría</a></li>
          <li><a href="/add_app.html">Añadir Aplicación</a></li>
	  <li><a href="/make_composition.html">Crear Composición</a></li>
	  <li><a href="/precompile_composition.html">Composiciones Precompiladas</a></li>
        </ul>
      </p>
      <p>
        <h3>Listado de Categorías</h3>
          <ul id="left">
            #for $menu_cat in $menu_categories:
            <li>
                <a href="/category/$menu_cat.label"><img src="$menu_cat.icon_url" align="left" width="20" height="20" alt="" border="0" /> $menu_cat.name</a>
                </li>
          #end for
        </ul>
      </p>
    </div>

    <!-- Cuerpo de la página -->
    
    <div id="content">
      <br>  
      <h2 id="top">Crear Composición</h2>
      <p>Mediante esta opción podrás crear el fichero listo para grabar con las categorías y aplicaciones que hayas seleccionado. Confirma que has realizado la selección que deseas en la opción Listado de Aplicaciones o pinchando en la categoría correspondiente del menú principal.</p>
      <p>Una vez seleccionadas las aplicaciones, puedes elegir la plantilla que más te guste para la creación de la Composición. Las plantillas son estilos visuales y puedes elegir cualquiera de los siete.</p>
      <p>Finalmente podrás seleccionar el formato del fichero que va a contener la composición. El formato ISO es ideal para grabar directamente a un CD/DVD, el formato ZIP es útil para descomprimirlo en un pen drive e ideal para llevar tus aplicaciones a cualquier lugar.</p>
      <p>A continuación pulsa <b>"Crear Composición"</b>. El proceso puede tardar cierto tiempo, en función del número de peticiones del servidor, una vez finalizado se te enviará un e-mail que contendrá la dirección desde la cual descargar tu composición. </p>
      #if len($errors) > 0:
        <table width="600" align="center">
	  <tbody>
	    #for $err in $errors:
	      <tr bgcolor="#FFC9C9"><td>$err</td></tr>
	    #end for
	  <tbody >
	</table>
      #end if
      <br>
      <div align="center">
        <form method="POST" >
          <table>
            <tbody align="left" valign="top">
              <tr>
                <td>Plantilla html</td>
		<td>
		  <select name="template">
                    #for $temp in $template_list:
		      <option value="$temp.name" 
			#if $temp.name == "default":
		          SELECTED
			#end if
		      >$temp.name</option>
                    #end for
                  </select>
		</td>
	      </tr>
	      <tr>
	        <td>Tipo de Composición</td>
		<td>
		  <select name="composition">
                      <option value="iso" SELECTED>Archivo ISO</option>
                      <option value="zip">Archivo ZIP</option>
                  </select>
		</td>
	      </tr>
	    </tbody>
	  </table>
	  <br>
          <INPUT type="submit" value="Crear Composición" align="middle">
        </form>
      </div>
      <div id='images-table'>
	<p>
	  <h3>Capturas de las Plantillas</h3>
	</p>
	<br>
	<ul>
          #for $temp in $template_list:
	    <li>
              #if $temp.image != "": 
	        <a href="/static/images/templates/$temp.image" target="_blank" onClick="window.open(this.href, this.target, 'width=723,height=609,scrollbars=yes');return false;"><img src="/static/images/templates/$temp.image" width="150" border="0" alt="No Disponible"/><br /><span>$temp.name template<span></a>
              #else:
                <a href="#" target="_blank"><img src="/static/images/templates/$temp.image" width="150" border="0" alt="No Disponible"/><br /><span>$temp.name template<span></a>
	      #end if
  	    </li>
          #end for
        </ul> 
      </div>
    </div>


    <div id="footer">
      <h5><a href="http://creativecommons.org/licenses/GPL/2.0/"><img src="/static/images/logo_cc.png" border="0" alt="logo CC" align="top" hspace="2"></a>
        2007 - Website designed by 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "bameda"; 
	  var part2 = "di.uc3m.es?subject=[WinSOL] "; 
	  var part3 = "David Barragán Merino";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
      
      <h5><a href="http://creativecommons.org/licenses/GPL/2.0/"><img src="/static/images/logo_cc.png" border="0" alt="logo CC" align="top" hspace="2"></a>
        2007 - Crisol-UC3M <a href="http://crisol.uc3m.es">(http://crisol.uc3m.es)</a>
      </h5>
      
      <h5>
        Contact: 
        <script language="javascript"> 
      	  <!-- 
	  var part1 = "cd-crisol-main"; 
	  var part2 = "forja.rediris.es"; 
	  var part3 = "WinSOL mail list";
	  document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
	  document.write(part3 + '</a>');
          // -->
        </script>
      </h5>
    </div>
    <div align="right">
      <br>
        <a href="http://www.python.org"><img src="/static/images/use-python.gif" border="0"
></a>
        <a href="http://www.webpy.org"><img src="/static/images/use-web.py.gif" border="0">
</a>
    </div>
  </body>
</html>


